__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.tsv
*.json
*.xml
*.parquet
*.h5
*.pt
*.pth
*.onnx
*.jpg
*.jpeg
*.png
*.mp4
*.avi
*.zip
*.tar
*.gz
*.ipynb_checkpoints/
venv/
.venv/
env/
.Img_Quality_venv/
.git/
